body {
  background-color: rgb(190, 190, 190);
}

/* #heading {
  /* float: left; */
/* display: inline-block; */
/* width: 100%; 
  border: 3px solid black;
} */

#title {
  /* float: left; */
  /* border: 3px solid black; */
  font-size: 2.5vw; /*4.5vh */
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding-top: 40px;
}

#map {
  width: 100%;
  height: 80.5vh;
  position: fixed;
  padding: 0;
  margin: 0 auto;
  left: 0;
  padding-top: 0;
  margin-top: 0px;
}

.dropdown {
  /* clear: left; */
  /* position: fixed; */
  /* float: right; */
  /* right: 0;*/
  float: right;
  /* border: 3px solid black; */
  /* float: right; */
  padding: 5px;
}
