body {
  background-color: rgb(190, 190, 190);
}

h3 {
  /* border: 3px solid black; */

  font-size: 36px;
  text-align: center;
}

#map {
  height: 490px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
  float: right;
  /* border: 3px solid black; */
}
