body {
  background-color: rgb(190, 190, 190);
}

#heading {
  display: inline-block;
  width: 100%;
}

#title {
  font-size: 2.5vw;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding-top: 5vh;
}

#map {
  width: 100%;
  height: 82.4vh;
  position: fixed;
  padding: 0;
  margin: 0 auto;
  left: 0;
  padding-top: 0;
  margin-top: 0px;
}

#legend {
  display: inline-block;
  position: relative;
  height: auto;
  vertical-align: middle;
  padding-left: 1vh;
  padding-bottom: 1vh;
}

.legendpics {
  display: inline-block;
  /* height: 4vh;
  width: 4vh; */
  max-width: 40px;
  max-height: 40px;
  flex-shrink: 0;
}

.legendtext {
  display: inline-block;
  padding-right: 2vh;
}

/* #dropcontainer {
  display: inline-block;
  position: relative;
} */

#heading {
  display: inline-block;
  /* border: 2px solid red; */
}

/* #space {
  display: inline-block;
  width: 62vh;
} */

.dropdown {
  float: right;
  clear: right;
  /* border: 2px solid red; */
  font-size: 0.8em;
  /* margin-top: 1vh; */
  padding-right: 2vh;
  /* position: absolute; */
  /* float: right; */
  /* bottom: 0;
  right: 0; */
  /* padding-right: 2vh;
  padding-top: 1vh;
  padding-bottom: 1vh; */
  /* border: 2px solid red; */
}

button {
  max-width: 175px;
  max-height: 75px;
  /* font-size: 0.8em; */
}
